__pycache__
**/.DS_Store
database/OpenVDMv2_db_custom.sql
bin/*.py
server/plugins/*.py
server/plugins/parsers/*.py
server/etc/openvdm.yaml
www/app/Core/Config.php
www/app/templates/default/js/dataDashboardMainCustom.js
www/bower_components
www/etc/datadashboard.yaml
www/vendor
www/.htaccess
www/composer.lock
www/errorlog.html
venv
