# ----------------------------------------------------------------------------------- #
#
#         FILE:  openvdm.yaml
#
#  DESCRIPTION:  OpenVDM configuration file, YAML format
#
#         BUGS:
#        NOTES:
#       AUTHOR:  Webb Pinner
#      COMPANY:  Capable Solutions
#      VERSION:  2.1rc
#      CREATED:  2016-02-02
#     REVISION:  2016-03-07
#
# LICENSE INFO: Open Vessel Data Management (OpenVDM) Copyright (C) 2016  Webb Pinner
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU General Public License as published by
#    the Free Software Foundation, either version 3 of the License, or
#    (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU General Public License for more details.
#
#    You should have received a copy of the GNU General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/gpl-3.0.html>.
#
# ----------------------------------------------------------------------------------- #

# The siteRoot for the OpenVDM web-application/API
siteRoot: "http://capablesolutions.dyndns.org:8180/OpenVDMv2/"

# The transferInterval defines the interval for performing collectionSystemTransfer.
# The unit is in minutes.
transferInterval: 5

# The gearmanServer is the location and port number for the Gearman server used in
# conjunction with OpenVDM.  The required format is <server>:<port>
gearmanServer: "localhost:4730"

# The dashboardData section defines where the dashboardData processing scripts reside
# and the expected suffix for each processing file.  It should include 2 directives:
# processingScriptDir --> the full path containing the dashboardData processing scripts
# processingScriptSuffix --> the suffix appended to dashboardData processing scripts
#     i.e. with SCS_dataDashboard.py the suffix is _dataDashboard.py
dashboardData:
    processingScriptDir: "/usr/local/bin/OVDM_dataProcessingScripts"
    processingScriptSuffix: "_dataDashboard.py"

# The hooks section contains any additional Gearman tasks that should be performed
# after the successful completion of the primary OpenVDM Gearman task.  Any subsequent
# tasks called with be called as background Gearman tasks so to not interfer with
# OpenVDM's primary operation.
hooks:
    runCollectionSystemTransfer:
        - updateDataDashboard
        - updateMD5Summary
        - postCollectionSystemTransfer
    updateDataDashboard:
        - postDataDashboard
    rebuildDataDashboard:
        - postDataDashboard

#    setupNewCruise:
#    finalizeCurrentCruise: