# ----------------------------------------------------------------------------------- #
#
#         FILE:  postSetupNewLowering.yaml
#
#  DESCRIPTION:  Configuration file to the postSetupNewLowering hook
#
#         BUGS:
#        NOTES:
#       AUTHOR:  Webb Pinner
#      COMPANY:  Capable Solutions
#      VERSION:  2.4
#      CREATED:  2017-08-05
#     REVISION:  2020-11-19
#
# LICENSE INFO: Open Vessel Data Management v2.4 (OpenVDMv2)
#               Copyright (C) OceanDataRat.org 2020
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU General Public License as published by
#    the Free Software Foundation, either version 3 of the License, or
#    (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU General Public License for more details.
#
#    You should have received a copy of the GNU General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/gpl-3.0.html>.
#
# ----------------------------------------------------------------------------------- #

# SAMPLE BLOCK --- INDENTS ARE IMPORTANT TO THE YAML-FORMAT ---
#commandList:
#  - name: buildLoweringTracks
#    command:
#    - python
#    - /usr/local/bin/buildLoweringTracks.py
#    - SCS

# Breakdown of SAMPLE BLOCK
#
# Array of commands to run
#commandList:
#
# The name of the command, used for messaging/error reporting, not part of the actual
# command(s) that are executed
#  - name: buildLoweringTracks
#
# This is the array containing the command to be executed. Each element when executed
# will be joined with a space ' '.  The following example would be called as:
# 'python /usr/local/bin/buildLoweringTracks.py SCS'
#    command:
#    - python
#    - /usr/local/bin/buildLoweringTracks.py
#    - SCS

# Wildcards:
# Wildcards can be used when defining command arrays (wildcards currently only work for the command array).
# Currenly implemented wildcards:
# - '{cruiseID}' --> the cruiseID used for the dataDashboard that just occurred 
# - '{loweringID}' --> the loweringID used for the dataDashboard that just occurred 

#commandList:
#  - name: clearScienceData
#    command:
#    - rm
#    - -rf
#    - /vault/FTPRoot/ScienceData/*
