# ----------------------------------------------------------------------------------- #
#
#         FILE:  postCollectionSystemTransfer.yaml
#
#  DESCRIPTION:  Configuration file to the postCollectionSystemTransfer hook
#
#         BUGS:
#        NOTES:
#       AUTHOR:  Webb Pinner
#      COMPANY:  Capable Solutions
#      VERSION:  2.3
#      CREATED:  2016-03-07
#     REVISION:  2017-10-05
#
# LICENSE INFO: Open Vessel Data Management v2.3 (OpenVDMv2)
#               Copyright (C) OceanDataRat.org 2017
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU General Public License as published by
#    the Free Software Foundation, either version 3 of the License, or
#    (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU General Public License for more details.
#
#    You should have received a copy of the GNU General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/gpl-3.0.html>.
#
# ----------------------------------------------------------------------------------- #

# SAMPLE BLOCK --- INDENTS ARE IMPORTANT TO THE YAML-FORMAT ---
#- collectionSystemTransferName: SCS
#  commandList:
#  - name: r2rNavManager
#    command:
#    - python
#    - /usr/local/bin/r2rNavManager.py
#    - SCS

# Breakdown of SAMPLE BLOCK
# Name of the collectionSystemTransfer to run after
#- collectionSystemTransferName: SCS
#
# Array of commands to run
#  commandList:
#
# The name of the command, used for messaging/error reporting, not part of the actual
# command(s) that are executed
#  - name: buildCruiseTracks
#
# This is the array containing the command to be executed. Each element when executed
# will be joined with a space ' '.  The following example would be called as:
# 'python /usr/local/bin/r2rNavManager.py SCS'
#    command:
#    - python
#    - /usr/local/bin/r2rNavManager.py
#    - SCS

# Wildcards:
# Wildcards can be used when defining command arrays (wildcards currently only work for the command array).
# Currenly implemented wildcards:
# - '{cruiseID}' --> the cruiseID used for the collectionSystemTransfer that just occurred 
# - '{collectionSystemTransferID}' --> the ID of the collectionSystemTransfer that just occurred 
# - '{collectionSystemTransferName}' --> the name of the collectionSystemTransfer that just occurred 
# - '{newFiles}' --> JSON-formatted array of all new files that were just transferred
# - '{updatedFile}' --> JSON-formatted array of all updated files that were just transferred
